.slds-grid {
    display: flex;
    align-items: stretch;
}

.height-match {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.slds-card__body {
    flex: 1;
}

.slds-card__footer {
    margin-top: auto;
}